<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsf.quartertune"
    android:installLocation="auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="4"
    android:versionName="0.0.0"
>
  <application
      android:label="@string/app_full_name"
      android:icon="@drawable/app_icon"
      android:hardwareAccelerated="true"
      android:process="com.jsf.quartertune"
      android:allowBackup="false"
      android:resizeableActivity="true"
  >
    <activity
        android:name=".TunerActivity"
        android:label="@string/app_launcher_name"
        android:theme="@style/main_theme"
        android:screenOrientation="unspecified"
        android:launchMode="singleTop"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".HelpActivity"
              android:stateNotNeeded="true"
	      android:excludeFromRecents="true"
    />

    <activity
        android:name=".SettingsActivity"
        android:theme="@style/main_theme"
        android:excludeFromRecents="true"
    />
  </application>

  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:anyDensity="true"
  />
</manifest>
